{{ define "layout" }}
<!doctype html>
<title>{{ block "title" . }}Welcome{{ end }} | MiniTwit</title>
<link rel=stylesheet type=text/css href="/static/style.css">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {{ if (ne (len .User) 0 ) }}
    <a href="/">my timeline</a> |
    <a href="/public">public timeline</a> |
    <a href="/logout">sign out [{{ index .User "username" }}]</a>
  {{ else }}
    <a href="/public">public timeline</a> |
    <a href="/register">sign up</a> |
    <a href="/login">sign in</a>
  {{ end }}
  </div>
  <div class=body>
  {{ block "body" . }}{{ end }}
  </div>
  <div class=footer>
    MiniTwit &mdash; A Gorilla Application
  </div>
</div>
{{ end }}
