{{ template "layout" . }}
{{ define "title" }}
  {{ if (eq .Request.URL.String "/public_timeline") }}
    Public Timeline
  {{ else if (eq .Request.URL.String "/user_timeline") }}
    User Timeline
  {{ else }}
    My Timeline
  {{ end }}
{{ end }}
{{ define "body" }}
  <h2>{{ .Title }}</h2>
  {{ if (eq (len .User) 0) }}
    {{ if (eq .Request.URL.String "/user_timeline")}}
      <div class=followstatus>
        {{ if (eq (index .User "user_id") (index .ProfileUser "user_id")) }}
          <p> This is you! <p>
        {{ else if .Followed }}
          You are currently following this user.
          <a class=unfollow href="{{ index .ProfileUser "username" 
          }}/unfollow">Unfollow user</a>.
        {{ else }}
          You are not yet following this user.
          <a class=follow href="{{ index .ProfileUser "username"
          }}/follow">Follow user</a>.
        {{ end }}
      </div>
    {{ else if (eq .Request.URL.String "/timeline") }}
      <div class=twitbox>
        <h3>What's on your mind {{ .User.username }}?</h3>
        <form action="/add_messsage" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {{ end }}
  {{ end }}
  <ul class=messages>
    {{ range .Messages }}
      <li>
        <img src="{{ index . "email" | gravatar 48 }}" >
        <p>
          <strong><a href="/user/{{ index . "username" }}">{{ index . "username" }}</a></strong>
          {{ index . "text" }}
          <small> &mdash; {{ index . "pub_date" | datetimeformat }}</small>
        </p>
      </li>
    {{ else }}
      <li><em>There's no message so far.</em></li>
    {{ end }}
  </ul>
{{ end }}
