name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: ./docker/webserver.Dockerfile
          push: true
          tags: antonfolkmann/minitwit:latest
  
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Executing deploy script
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.PROD_HOST }}
        username: ${{ secrets.PROD_USER }}
        password: ${{ secrets.PROD_PWD }}
        script:
          docker kill minitwit && \
          docker rm minitwit && \
          docker pull antonfolkmann/minitwit && \
          docker run -d -p 8081:8081 --name minitwit antonfolkmann/minitwit
    
